<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/assets/css/style.css" />

    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="navbar" id="navbar">
        <div class="logo">
          <a href="/">Authentication</a>
        </div>

        <div class="right-section">
          <div class="logout" id="logoutBtn">
            <!-- <p class="tooltip-text">Log Out</p> -->

            <box-icon name="log-out"></box-icon>
          </div>

          <div class="theme-toggler" id="themeToggler">
            <!-- <p class="tooltip-text">Toggle Theme</p> -->

            <box-icon class="sun" id="sun" name="sun"></box-icon>
            <box-icon class="moon" id="moon" name="moon"></box-icon>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <p class="feedback-popup" id="feedbackPopup"></p>
      <div class="home-container">
        <h3>Welcome to the Authentication Project!</h3>
      </div>
    </main>

    <!-- Box icons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script type="module" src="/frontend/js/script.js"></script>
  </body>
</html>
