<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/assets/css/style.css" />

    <title>Sign Up</title>
  </head>
  <body>
    <header>
      <nav class="navbar" id="navbar">
        <div class="logo">
          <a href="/">Authentication</a>
        </div>

        <div class="theme-toggler" id="themeToggler">
          <!-- <p class="tooltip-text">Toggle Theme</p> -->

          <box-icon class="sun" id="sun" name="sun"></box-icon>
          <box-icon class="moon" id="moon" name="moon"></box-icon>
        </div>
      </nav>
    </header>

    <main>
      <p class="feedback-popup" id="feedbackPopup"></p>
      <div class="signup-container" id="signupContainer">
        <h3>Sign Up</h3>

        <form
          class="signup-form"
          action="/sign-up"
          id="signupForm"
          method="POST"
        >
          <div class="user-names">
            <div class="input-group">
              <label for="first-name">First Name</label>
              <input type="text" id="firstName" name="first_name" required />
            </div>

            <div class="input-group">
              <label for="last-name">Last Name</label>
              <input type="text" id="lastName" name="last_name" required />
            </div>
          </div>

          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="password">
            <div class="input-group">
              <label for="password">Password</label>
              <div class="password-wrapper">
                <input type="password" id="password" name="password" required />
                <button
                  type="button"
                  class="toggle-password-visibility"
                  data-target="password"
                >
                  <box-icon name="show"></box-icon>
                </button>
              </div>
            </div>

            <div class="input-group">
              <label for="confirmed-password">Confirm Password</label>
              <div class="password-wrapper">
                <input
                  type="password"
                  id="confirmedPassword"
                  name="confirmed_password"
                  required
                />
                <button
                  type="button"
                  class="toggle-password-visibility"
                  data-target="confirmedPassword"
                >
                  <box-icon name="show"></box-icon>
                </button>
              </div>
            </div>
          </div>

          <button type="submit" class="sign-up-btn" id="signupBtn">
            Create Account
          </button>
        </form>

        <br />

        <p class="continue-with" style="font-size: small">Or Continue With</p>

        <div class="oauth-container">
          <button type="button" class="google-btn">
            <box-icon type="logo" name="google"></box-icon>
            Google
          </button>
        </div>

        <p class="switch-form">
          Already have an account? <a href="/sign-in" data-link>Sign In</a>
        </p>
      </div>
    </main>

    <!-- Box icons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script type="module" src="/frontend/js/signup.js"></script>
    <script type="module" src="/frontend/js/script.js"></script>
  </body>
</html>
